<p><%= @list.name %></p>

<p><%= link_to "New Task", new_list_task_path(@list.id)%></p>

<ul><% @list.tasks.each do |task| %>
  <li> <%= task.description %> | Assigned to: <%= task.get_doer_names %> | <%=task.completeness%> | Due Date: <%=task.due_date%> <%=link_to "Mark Complete",mark_complete_path(list_id: @list.id, task_id: task.id)%></li>
<%end%></ul>