
<div class ="row list_heading">
  <div class = "col-md-1"></div>
  <div class = "col-md-4">
    <h2><%= @list.name %></h2>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-4">
    <h2><%= link_to "Add Task", new_list_task_path(@list.id), class: "new_color" %></h2>
  </div>
</div>


<h4 class="text-success">
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2"> Description</div>
  <div class="col-md-1"> Assigned</div>
  <div class="col-md-2"> Complete? </div>
  <div class="col-md-2"> Due </div>
  <div class="col-md-2"></div>
  <div class="col-md-2"></div>
</div>
</h4>
<h4>

<% @list.tasks.each do |task| %>
<div class = "row">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <%= task.description %>
  </div>
  <div class="col-md-1">
    <%= task.get_doer_names %>
  </div>
  <div class="col-md-2">
    <%=task.completeness%>
  </div>
  <div class="col-md-2">
    <%=task.due_date%>
  </div>
  <div class="col-md-2">
    <% if task.completed != 1 %>
    <%=link_to "Mark Complete",mark_complete_path(list_id: @list.id, task_id: task.id), class: "list_name_links"%>
    <%end%>
  </div>
  <div class="col-md-2">
     <%= link_to "Delete Task", list_task_path(list_id: @list.id, task_id: task.id), method: :delete, class: "text-danger" %>
  </div>
</div>
<%end%>

<div class="row list_info" >
  <div class="col-md-1"></div>
  <div class="col-md-4">
    List members: <% @list.possible_doers.each do |doer| %>
    <%=doer.name %>
    <%end%>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class = "col-md-3">
<%=form_tag list_users_path do %>
<%=text_field_tag :email, nil, placeholder: "Email", class: "form-control" %>
<%=hidden_field_tag 'list_id', @list.id %>
<%= button_tag(type: "submit", class: "btn btn-default") do %>
    Add Member
<% end %>
  </div>
</div>

<%end%>
