<p>Create new Honeydew Account</p>
<%=form_for @user do |f| %>
<p><%=f.text_field :name, placeholder: "Name" %></p>
<p><%=f.email_field :email, placeholder: "Email" %></p>
<p><%=f.password_field :password, placeholder: "Password" %> </p>
<p><%=f.submit "Create" %></p>

<%end%>