<p> Welcome, <%= current_user.name %> </p>

<p><%= link_to "Create New List", new_list_path %>
<p> Your lists: </p>
<ul>
<% current_user.lists.each do |list| %>
  <li> <%= list.name %> </li>
<%end %>
<% current_user.created_lists.each do |list| %>
  <li> <%= link_to list.name, list_path(list.id) %> <%= link_to "Delete List", list_path(list.id), method: :delete %>  </li>
<%end%>
</ul>