<!DOCTYPE html>
<html>
<head>
  <title>Honeydew</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
  <%= link_to "Your Lists", user_path(current_user.id) %>
  <%= link_to "Logout", logout_path %>
<% else %>
<%= link_to "Register", register_path %> |
  <%= link_to "Login", login_path %>
<% end %>

<%= yield %>

<p><%= link_to "Home", root_path %></p>

</body>
</html>
